body {
	font-family: 'Open Sans', Helvetica;
	font-size: 12px;
}

.circle {
	background-color: #333;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
}

.circle p {
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-top: 40%;
	font-size: 2em;
}
